<div class="container" fxLayout="column" fxFlex="grow">
    <div class="post">
        <h1 class="post-font">Posts</h1>
    </div>
    <div class="table">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title" >
                <th mat-header-cell *matHeaderCellDef><h1>Title</h1></th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef><h1>Body</h1></th>
                <td mat-cell *matCellDef="let element"> {{element.body}} </td>
            </ng-container>
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef><h1>Comments</h1></th>
                <td mat-cell *matCellDef="let element"> 
                    <button [routerLink]="['/posts',element.id]" class="comment-button">
                        <span class="material-icons">
                            question_answer
                        </span>
                    </button></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
    </div>
</div>